## DATA CLEANING AND HANDLING NULL VALUES

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
df= pd.read_csv('../DATA/student-mat.csv', sep=';')

In [15]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [ ]:
## DROPPING THE IRRELEVANT FEATURES
df.drop(['school','address','famsize','Pstatus','Medu','Fedu','Mjob','Fjob','reason','guardian','nursery','higher','famrel','romantic',],axis=1, inplace=True)

In [18]:
df.head()  # Display the first few rows of the DataFrame

,sex,age,traveltime,studytime,failures,schoolsup,famsup,paid,activities,internet,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,F,18,2,2,0,yes,no,no,no,no,3,4,1,1,3,6,5,6,6
1,F,17,1,2,0,no,yes,no,no,yes,3,3,1,1,3,4,5,5,6
2,F,15,1,2,3,yes,no,yes,no,yes,3,2,2,3,3,10,7,8,10
3,F,15,1,3,0,no,yes,yes,yes,yes,2,2,1,1,5,2,15,14,15
4,F,16,1,2,0,no,yes,yes,no,no,3,2,1,2,5,4,6,10,10

In [21]:
df['sex'].value_counts()

sex
F    208
M    187
Name: count, dtype: int64

In [22]:
df['schoolsup'].value_counts()

schoolsup
no     344
yes     51
Name: count, dtype: int64

In [24]:
df['famsup'].value_counts()

famsup
yes    242
no     153
Name: count, dtype: int64

In [25]:
df['paid'].value_counts()

paid
no     214
yes    181
Name: count, dtype: int64

In [26]:
df['activities'].value_counts()

activities
yes    201
no     194
Name: count, dtype: int64

In [27]:
df['internet'].value_counts()

internet
yes    329
no      66
Name: count, dtype: int64

In [28]:
## ENCODING THE CATEGORICAL FEATURES

df['sex']= df['sex'].map({'F':0,'M':1})

In [31]:
df['schoolsup']= df['schoolsup'].map({'no':0,'yes':1})

In [32]:
df['famsup']= df['famsup'].map({'no':0,'yes':1})

In [33]:
df['paid']= df['paid'].map({'no':0,'yes':1})

In [34]:
df['activities']= df['activities'].map({'no':0,'yes':1})

In [36]:
df['internet']= df['internet'].map({'no':0,'yes':1})

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sex         395 non-null    int64
 1   age         395 non-null    int64
 2   traveltime  395 non-null    int64
 3   studytime   395 non-null    int64
 4   failures    395 non-null    int64
 5   schoolsup   395 non-null    int64
 6   famsup      395 non-null    int64
 7   paid        395 non-null    int64
 8   activities  395 non-null    int64
 9   internet    395 non-null    int64
 10  freetime    395 non-null    int64
 11  goout       395 non-null    int64
 12  Dalc        395 non-null    int64
 13  Walc        395 non-null    int64
 14  health      395 non-null    int64
 15  absences    395 non-null    int64
 16  G1          395 non-null    int64
 17  G2          395 non-null    int64
 18  G3          395 non-null    int64
dtypes: int64(19)
memory usage: 58.8 KB

In [40]:
df.to_csv('../DATA/student-mat-cleaned.csv', index=False)